#map {
  width: 100%;
  height: 800px;
  cursor: default;
}

.leaflet-overlay-pane {
  pointer-events: auto;
}

.leaflet-overlay-pane svg,
.leaflet-overlay-pane path {
  pointer-events: all;
  transition: stroke 0.15s ease;
  cursor: default;
}

#reset-zoom {
  position: absolute;
  top: 100px;
  left: 9px;
  z-index: 1000;
  background: white;
  border: 2.5px solid #bab8b8;
  padding: 9.5px;
  cursor: pointer;
  border-radius: 4px;
}

#tooltip {
  position: absolute;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  font-size: 14px;
  max-width: 220px;
  display: none;
  z-index: 1000;
}